
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Galeria</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
  </head>
  <body>
    <h1 align="center"> Bienvenidos a RT Brewing Co.</h1> 
    <center>
        <img src="/images/estilos1.jpg"/> 
        <img src="/images/tiposcervezas.jpg"/> 
        <img src="/images/tiposvasos.jpg"/> 
   </center>
        
    <br>
    <a href="/Historia">Ver Historia</a>
    <br>
    <a href="/">Ver Home</a>


  </body>
</html>