
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Trabajos</title>
    <link rel="stylesheet" href="/styles/styles1.css" />
  </head>
  <body>
    <h1 align="center"> Bienvenidos a RT Brewing Co.</h1> 

    <h2>Historia de la cerveza</h2>

<p>
La cerveza es uno de los productos más antiguos de la civilización. 
Los historiadores creen que existe desde el año 10.000 a.C. 
En España se han encontrado restos en Soria aproximadamente del año 4.000 a.C.
</p>

<h2>¿Qué diferencia hay entre cerveza artesanal y cerveza industrial?</h2>
<p>
    Toda cerveza se elabora con cuatro elementos básicos: cebada, agua, lúpulo y levadura. 

    La diferencia principal entre la cerveza industrial y la artesanal se encuentra en las proporciones, 

    en el tratamiento de la materia prima y en el proceso de elaboración. 

    En el mundo de la cerveza deberíamos hablar de 3 categorías más que de 2: 

    los cerveceros caseros, las microcervecerías y las cervecerías industriales.
</p>
<p> La diferencia, entonces, podría ser ésta: <br>
    <br>
    - Un cervecero casero hace su cerveza para disfrutarla él o con amigos.
    <br>
    - Un microcervecero hace su cerveza para venderla pero también para disfrutarla: quiere que su "criatura" sea 
    apreciada por todos.
    <br>
    - Un cervecero industrial es un empresario: no hace la cerveza que más le gusta sino la que más dinero le deja.
</p>

    <br>
    <a href="/">Ver Home</a>
    <br>
    <a href="/Galeria">Ver Galeria</a>
  </body>
</html>