
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <h1 align="center"> Bienvenidos a RT Brewing Co.</h1> 

    <h2><p> En en esta pagina encontraremos un poco de historia sobre La Cerveza Artezanal, asi como tambien una Galeria 
        que muestra los Estilos, Tipos y Tipo de Vasos para cada Cerveza. 
    </p></h2>

    <br>
    <a href="/Historia">Ver Historia</a>
    <br>
    <a href="/Galeria">Ver Galeria</a>
  </body>
</html>